body {
    background-color: rgb(13, 102, 219);
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background-image: url('IMG/grunge\ seboso.jpg');
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
}

h1 {
    color: #fcfcfc; 
}


h2 {
    color: #000000; 
}