body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background-image: url('IMG/OZZU.jpg');
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
}

h1 {
    color: #FFD700; 
}


h2 {
    color: #FF4500; 
}